@{
    ViewData["Title"] = "Home Page";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.Username</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @{
        string logEmail = Context.Session.GetString("logEmail");
    }
    @if (HttpContextAccessor.HttpContext.Request.Cookies["userInfo"] != null && logEmail != null )
    {
        <form asp-controller="Home" asp-action="DeleteUser" method="post">
            <button type="submit" class="btn btn-danger mt-3">Logout</button>
        </form>
    }
</div>
