<div class="calculator card">

    <input type="text" class="calculator-screen z-depth-1" value="" disabled />

    <div class="calculator-keys">

        <button type="button" data-mdb-button-init class="operator btn btn-info" name="plus" value="+">+</button>
        <button type="button" data-mdb-button-init class="operator btn btn-info" name="minus" value="-">-</button>
        <button type="button" data-mdb-button-init class="operator btn btn-info" name="times" value="*">&times;</button>
        <button type="button" data-mdb-button-init class="operator btn btn-info" name="divided" value="/">&divide;</button>

        <button type="button" data-mdb-button-init value="7" name="seven" data-mdb-ripple-init class="btn btn-light waves-effect">7</button>
        <button type="button" data-mdb-button-init value="8" name="eight" data-mdb-ripple-init class="btn btn-light waves-effect">8</button>
        <button type="button" data-mdb-button-init value="9" name="nine" data-mdb-ripple-init class="btn btn-light waves-effect">9</button>


        <button type="button" data-mdb-button-init value="4" name="four" data-mdb-ripple-init class="btn btn-light waves-effect">4</button>
        <button type="button" data-mdb-button-init value="5" name="five" data-mdb-ripple-init class="btn btn-light waves-effect">5</button>
        <button type="button" data-mdb-button-init value="6" name="six" data-mdb-ripple-init class="btn btn-light waves-effect">6</button>


        <button type="button" data-mdb-button-init value="1" name="One" data-mdb-ripple-init class="btn btn-light waves-effect">1</button>
        <button type="button" data-mdb-button-init value="2" name="two" data-mdb-ripple-init class="btn btn-light waves-effect">2</button>
        <button type="button" data-mdb-button-init value="3" name="three" data-mdb-ripple-init class="btn btn-light waves-effect">3</button>


        <button type="button" data-mdb-button-init value="0" name="zero" data-mdb-ripple-init class="btn btn-light waves-effect">0</button>
        <button type="button" data-mdb-button-init class="decimal function btn btn-secondary" name="dot" value=".">.</button>
        <button type="button" data-mdb-button-init class="all-clear function btn btn-danger btn-sm" name="clear" value="all-clear">AC</button>

        <button type="button" data-mdb-button-init class="equal-sign operator btn btn-default" name="equal" value="=">=</button>

    </div>
</div>