@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- About Us Section -->
<section class="about-us">
    <h1>About BECK Offers</h1>
    <p>
        At BECK Offers, we bring you the best deals on Furniture, Clothes, and Food! Our goal is to provide you
        with high-quality products at affordable prices, helping you live a modern, stylish, and comfortable life.
        We offer a wide selection of items tailored to suit your needs, whether you are furnishing your home,
        upgrading your wardrobe, or stocking your pantry with the finest foods. We are dedicated to customer
        satisfaction and are constantly striving to offer the latest trends and best deals in the market.
    </p>
    <img src="images/ab.jpg" alt="BECK">
</section>

<!-- Categories Section -->
<section class="categories">
    <a href="furniture.html">
        <div class="category">
            <img src="images/Furniture 1.jpg" alt="Furniture">
            <h3>Furniture</h3>
        </div>
    </a>
    <a href="clothes.html">
        <div class="category">
            <img src="images/clothes 1.jpg" alt="Clothes">
            <h3>Clothes</h3>
        </div>
    </a>
    <a href="food.html">
        <div class="category">

            <img src="images/food 1.jpg" alt="Food">
            <h3>Food</h3>

        </div>
    </a>
</section>